* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  overflow: auto;
  flex: none;
  flex-flow: column nowrap;
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: center;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  flex: none;
}

.one {
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.two {
  background-image: linear-gradient(to right bottom, #126aee, #5159df, #6e47ce, #8230ba, #9004a4);
}
.three {
  background-image: linear-gradient(to bottom, #4bee12, #98bd00, #b38900, #b55500, #a41904);
}
.four {
  background-image: radial-gradient(circle, #12eea1, #00cbc5, #00a4d8, #0079ce, #044aa4);
}
.five {
  background-image: linear-gradient(to left top, #e4ee12, #aedf31, #7ccd45, #4bb954, #04a45e);
}
